package {{ base_package }};

import org.springframework.context.annotation.Configuration;

/**
 * Configuracion raiz del microservicio.
 * Agregar beans transversales aqui o en clases @Configuration dedicadas.
 */
@Configuration
public class {{ configuration_class }} {

}
