# ============================================================
# CODEOWNERS — {{ project_name }}
# Define los responsables de revision de codigo por area
# ============================================================

# Default — todo el repositorio
* @segurosbolivar/backend-team

# Infraestructura
Dockerfile @segurosbolivar/devops-team
docker-compose.yml @segurosbolivar/devops-team
.github/ @segurosbolivar/devops-team

# Seguridad
src/config/security.py @segurosbolivar/security-team
src/middleware/ @segurosbolivar/security-team
